*{
    box-sizing: border-box;
    font-family: 'Saira Stencil One', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: #85D3F2;
    text-align: center;
}

#cabecalho{
    background-color: #85D3F2;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #f5fcff;
    height: 100%;
    overflow-x:hidden;
}

.cxLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#logo{
    margin:2rem 0 0 2rem;
    color: #fff;
    width: 23rem;
}

.cxLogo{
    width: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cxLogo img{
    width: 100%;
}

#cadastroDeUsuario{
    margin-left: 5vw;
    border: 1px solid #000;
    width: 90vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cxIpt{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

form{
    height: 95vh;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btnVoltar{
    margin: 1rem 0 0 1rem;
    cursor: pointer;
}
input{
    padding: 1rem 6rem;
    border-radius: 5px;
    width: 25rem;
    align-items: center;
}
/*#ff7f00*/
#btnLogar{
    background-color: #85D3F2;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border: 1px solid #85D3F2;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 650;
    color: #fff;
    cursor: pointer;
}
#cxCheckBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#checks {
    display: flex;
    align-items: center;
    width: 26rem;
    justify-content: center;
    background-color: #85D3F2;
    padding: 1rem 0.2rem;
}

#checks > div{
    margin:0 2rem;
    width: 13rem;
    color: #fff;
}

#checkbox{
    width: 3rem;
    border: 0.1px solid #85D3F2;
}