body{
    height: 100%;
}

footer{
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #85D3F2;
    position: fixed;
    bottom: 0;
    left: 0;
}

.linkAtalho > svg {
    color: #f5fcff;
    height: 3rem;
}

.cxAtalho{
    display: flex;
    align-items: center;
    justify-content: center;
}